a{
    
    color: white;
}

.font-white{
    color: white;
}

.font-orange{
    color: orange;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.5);
}

.main{
    background-image: url(/assets/main-bg.jpg);
}

.games{
    background-image: url(/assets/the-games-bg.jpg);
}
.row{
    height: 100%;
}
.carousel-item > img{
    height: 500px;
}

.features{
    background-image: url(/assets/features.jpg);
}

.requirements{
    background-image: url(/assets/requirements.png);
}

.scores{
    background-image: url(/assets/top-score-bg.png);
}

.main, .games, .features, .requirements, .scores{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 992px;
}

.play{
    margin-top: 15%
}

.card-head{
    height: 6rem;
}

.table{
    background-color: rgba(0, 0, 0, 0.7);
}

.logo{
    height: 5rem;
    width: 5rem;
}